<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
        
    <header>
        <div class="logo"></div>
     <nav></nav>
    </header>
    <main>
        <section id="start">
            <div class="img-box">
                <img src="" alt="">
            </div>
            <div class="title"></div>
            <div class="desc"></div>
        </section>
        <section id="portfolio">
            <div class="title"></div>
            <div class="portfolio-item"></div>
            <div class="portfolio-item"></div>
            <div class="portfolio-item"></div>
            <div class="portfolio-item"></div>
            <div class="portfolio-item"></div>
            <div class="portfolio-item"></div>
        </section>
        <section id="about">
            <div class="title"></div>
            <div class="content">
                <div class="text"></div>
                <button class="download-btn"></button>
            </div>
            .
        </section>
        <section id="contact">
            <div class="title"></div>
            <form action=""></form>
        </section>
    </main>
    <footer>
        <div class="content">
            <div class="location"></div>
            <div class="socials"></div>
            <div class="about-freelancer"></div>
        </div>
            <div class="copyright"></div>
    </footer>

</body>
</html>